# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
venv/
.env

# Ignore temporary or sensitive files
*.csv
*.xlsx
secrets.json
# Ignore large CSV files
Courses/CS12/L-Machine Learning/survey_results_public.csv